.color-1 {
  background-color: #0074d9;
}
.color-2 {
  background-color: #73beff;
}
.color-3 {
  background-color: #ff4136;
}
.color-4 {
  background-color: #29b739;
}
.color-5 {
  background-color: #2ecc40;
}
.color-6 {
  background-color: #9536ff;
}
.color-7 {
  background-color: #ffdc00;
}
.color-8 {
  background-color: #ccb000;
}
.color-9 {
  background-color: #6200cf;
}