body {
  margin: 0;
  width: 570px;
  height: 300px;
  background: url("football.jpg") -120px -60px no-repeat;
  color: #ffffff;
  font-family: "Arial", sans-serif;
}

h1 {
  position: relative;
  margin: 0;
  padding-left: 40px;
  width: 320px;
  font-size: 80px;
  text-transform: uppercase;
  word-wrap: break-word;
  letter-spacing: 40px;
  font-weight: normal;
  text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.5);
  line-height: 100px;
  
}

h1::before {
  position: absolute;
  top: -5px;
  left: 45px;
  content: "|||";
  text-shadow: none;
  letter-spacing: 4.7px;
  font-size: 55px;
  font-weight: bolder;
}

h1::first-letter {
  padding-left: 100px;
}
